.section-master-album {
  display: flex;
  min-height: 100vh;
}

.section-album {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: calc(100% - 26.65vh);
}

.background-up-album {
  background-image: url('../img/fundo2.png');
  background-size: cover;
  display: flex;
  height: 25vh;
  width: 100%;
}

.background-up-album img {
  border-radius: 12px;
  filter: drop-shadow(-9px 8px 8px rgba(68, 73, 85, 0.4));
  height: 25.58vh;
  margin-left: 8.3vh;
  margin-right: 4.79vh;
  margin-top: 12vh;
  mix-blend-mode: normal;
  width: 25.58vh;
}

.data-album {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3.07vh;
  width: 218.4px;
}

.data-album h3 {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 2.13vh;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.data-album p {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 1.49vh;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.background-down-album {
  background: #e4e9f0;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  width: 100%;
}

.loading-album {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.loading-album img {
  height: 4.26vh;
  margin-bottom: 1.59vh;
  width: 4.26vh;
}

.loading-album span {
  color: #c0c3c9;
  font-family: Epilogue , sans-serif;
  font-size: 48.92px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.list-music {
  display: flex;
  flex-direction: column;
  margin-left: 12vh;
  margin-top: 4.05vh;
}
