.section-master-favorites {
  display: flex;
  min-height: 100vh;
}

.section-favorites {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: calc(100% - 26.65vh);
}

.background-up-favorites {
  align-items: center;
  background-image: url('../img/fundo3.png');
  background-size: cover;
  display: flex;
  height: 25vh;
  justify-content: center;
  width: 100%;
}

.background-up-favorites h1 {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.background-down-favorites {
  align-items: center;
  background: #e4e9f0;
  display: flex;
  justify-content: center;
  min-height: 75vh;
  width: 100%;
}

.page-favorites {
  display: flex;
}

.loading-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.loading-favorites img {
  height: 4.26vh;
  margin-bottom: 1.59vh;
  width: 4.26vh;
}

.loading-favorites span {
  color: #c0c3c9;
  font-family: Epilogue , sans-serif;
  font-size: 5.21vh;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.favorites-music {
  display: flex;
  flex-direction: column;
  margin-left: 12vh;
  margin-top: 4.05vh;
}

.no-favorites {
  color: #c0c3c9;
  font-family: Epilogue , sans-serif;
  font-size: 2.45vh;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}
