.section-header {
  display: flex;
  flex-direction: column;
  width: 26.65vh;
}

.logo-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3.58vh;
}

.logo-header img {
  height: 10.2vh;
  width: 18.21vh;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.links-other-pages {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
  padding-left: 4.26vh;
}

.link-search {
  align-items: center;
  display: flex;
}

.lupa {
  color: #5c606a;
  font-size: 2.77vh;
  margin-right: 1.8vh;
}

.search {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.7vh;
  text-decoration: none;
  text-transform: capitalize;
}

.link-favorites {
  align-items: center;
  display: flex;
}

.star {
  color: #5c606a;
  font-size: 2.77vh;
  margin-right: 1.8vh;
}

.favorites {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7vh;
  text-decoration: none;
  text-transform: capitalize;
}

.link-profile {
  align-items: center;
  display: flex;
}

.avatar {
  color: #5c606a;
  font-size: 2.77vh;
  margin-right: 1.8vh;
}

.profile {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7vh;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-header {
  align-items: flex-end;
  display: flex;
  height: 22.5vh;
}

.user-header {
  align-items: center;
  display: flex;
  margin-bottom: 2.98vh;
  margin-left: 4.26vh;
}

.user-header img {
  border-radius: 2.08vh;
  height: 4.26vh;
  margin-right: 1.38vh;
  width: 4.26vh;
}

.user-header p {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 1.7vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7vh;
  text-transform: capitalize;
}

.loading-user {
  align-items: center;
  display: flex;
}

.loading-user img {
  height: 3.19vh;
  width: 3.19vh;
}

.loading-user span {
  color: #003be5;
  font-family: Epilogue , sans-serif;
  font-size: 1.91vh;
  font-style: normal;
  font-weight: 400;
  line-height: 1.91vh;
  text-align: center;
}
