.page-login {
  align-items: center;
  background-image: url('../img/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container-login {
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 26px rgba(68, 73, 85, 0.4);
  display: flex;
  height: 47.97vh;
  justify-content: center;
  margin: 1.49vh;
  width: 79.95vh;
}

.loading-login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loading-login img {
  height: 4.26vh;
  margin-bottom: 1.59vh;
  width: 4.26vh;
}

.loading-login span {
  color: #c0c3c9;
  font-family: Epilogue , sans-serif;
  font-size: 5.21vh;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.49vh;
}

.form-login img {
  height: 11.08vh;
  margin-bottom: 6.92vh;
  width: 19.93vh;
}

.form-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.3vh;
}

.form-login form input {
  border: 1px solid #003be5;
  border-radius: 100px;
  box-sizing: border-box;
  color: #003be5;
  font-family: Epilogue , sans-serif;
  font-size: 1.49vh;
  font-weight: 700;
  height: 4.26vh;
  margin-bottom: 1.06vh;
  text-align: center;
  width: 42.64vh;
}

.form-login form input::placeholder {
  color: #003be5;
  font-family: Epilogue , sans-serif;
  font-size: 1.49vh;
  font-style: normal;
  font-weight: 400;
  line-height: 1.49vh;
  text-align: center;
}

.form-login button {
  background: #003be5;
  border-radius: 100px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 1.49vh;
  font-style: normal;
  font-weight: 700;
  height: 4.26vh;
  letter-spacing: 0.03em;
  line-height: 1.49vh;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  width: 42.64vh;
}

.form-login button:disabled {
  background: gray;
}

@media ( max-width : 600px ) {

  .container-login {
    height: 31.97vh;
    width: 39.78vh;
  }

  .form-login img {
    height: 8.08vh;
    margin-bottom: 4.92vh;
    width: 12.93vh;
  }

  .form-login form input {
    height: 4.26vh;
    width: 32.64vh;
  }

  .form-login button {
    height: 4.26vh;
    width: 32.64vh;
  }

}
