.section-master-search {
  display: flex;
  min-height: 100vh;
}

.section-search {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: calc(100% - 26.65vh);
}

.background-up-search {
  align-items: center;
  background-image: url('../img/fundo1.png');
  background-size: cover;
  display: flex;
  height: 19vh;
  justify-content: center;
  width: 100%;
}

.div-form-search {
  align-items: center;
  display: flex;
}

.form-search {
  align-items: flex-start;
  display: flex;
}

.form-search input {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 23px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin-right: 9px;
  outline: none;
  padding-left: 19px;
  text-transform: uppercase;
  width: 400px;
}

.form-search input::placeholder {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
}

.form-search button {
  background: #00d5e2;
  border-radius: 23px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
  width: 114px;
}

.background-down-search {
  background: #e4e9f0;
  display: flex;
  min-height: 81vh;
  width: 100%;
}

.loading-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.loading-search img {
  height: 4.26vh;
  margin-bottom: 1.59vh;
  width: 4.26vh;
}

.loading-search span {
  color: #c0c3c9;
  font-family: Epilogue , sans-serif;
  font-size: 48.92px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.page-down {
  display: flex;
  width: 100%;
}

.album-notfound {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.no-album {
  color: #c0c3c9;
  font-family: Epilogue , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}

.list-albuns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.result-album {
  display: flex;
  margin-top: 63px;
}

.result-album h3 {
  color: #003be5;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 52.11px;
}

.albums img {
  border-radius: 10px;
  height: 200px;
  margin-right: 25px;
  mix-blend-mode: normal;
  width: 200px;
}

.albums h4 {
  color: #3d495c;
  font-family: Epilogue , sans-serif;
  font-size: 12.06px;
  font-style: normal;
  font-weight: 700;
  height: 35px;
  line-height: 150%;
  text-decoration: none;
  width: 200px;
}

.albums p {
  color: #3d495c;
  font-family: Epilogue , sans-serif;
  font-size: 12.06px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  line-height: 150%;
  margin-bottom: 25px;
  text-decoration: none;
  width: 147px;
}

.link {
  color: inherit;
  text-decoration: none;
}
